! Included files
!#include "/home/sam/.Xresources.d/color"

! UXterm
uxterm*termName: uxterm-256color
xterm*termName:  xterm-256color


! = URXVT =
!
urxvt.urgentOnBell: true
urxvt.scrollBar: false
urxvt.internalBorder: 0
! Fonts
urxvt.font: xft:tewi:pixelsize=9
!urxvt.font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*

! Xft
xft.dpi:        96
xft.antialias:  true
xft.rgba:       rgb
xft.hinting:    true
xft.hintstyle:  hintslight

urxvt*.perl-ext-common : default,matcher
urxvt*.url-launcher     : firefox
urxvt*.matcher.button  : 1
urxvt*.transparent: false
! urxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
urxvt*.shading: 15

!= COLORS =
!*background: #272822
!*foreground: #f8f8f2
! black
!*color0: #191b17
! bright_black
!*color8: #20231d
! red
!*color1: #6a3b35
! bright_red
!*color9: #8b5346
! green
!*color2: #495a52
! bright_green
!*color10: #6f8471
! yellow
!*color3: #534d33
! bright_yellow
!*color11: #706844
! blue
!*color4: #323965
! bright_blue
!*color12: #3f4880
! magenta
!*color5: #34392f
! bright_magenta
!*color13: #43493c
! cyan
!*color6: #445659
! bright_cyan
!*color14: #586f73
! white
!*color7: #e5cebe
! bright_white
!*color15: #f0e9d7

*foreground: #c0c5ce
*background: #2b303b
