:root {
    --bg: whitesmoke;
    --fg: black;
    --header: black;
    --link: black;
    --linkhover: whitesmoke;
}

html, body, h1, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    background-size: cover;
    font-family: "Helvetica", "Arial", sans-serif;
}

main {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 2px 4px 15px;
}
a {
    color: var(--link);
    text-decoration: none;
    transition: .2s;
}
a:hover {
    color: var(--linkhover);
}

h1 {
    color: var(--header);
    font-size: 12px;
    font-weight: bold;
    margin: 15px;
}

p {
    color: var(--fg);
    letter-spacing: 0px;
    line-height: 12px;
}

ul {
    display: block;
    margin: 0 auto;
}

li {
    font-size: 16px;
    line-height: 1.5;
    list-style: none;
    margin: 0 5px;
}

.boxes {
    display: flex;
}
.box {
    flex: 1 1 0;
    float: left;
    margin: 10px;
    padding: 5px;
    transition: .5s;
    border-radius: 2px;
}
.box:hover {
    background-color: rgba(255,255,255,0.1);
}

.subh {
    font-weight: bold;
    color: var(--header);
    margin-top: 5px;
    text-decoration: none;
}


.subh a {
    color: var(--header);
}

.subh a:hover {
    color: var(--header);
}
